* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

section {
    max-width: 1920px;
    background-color: #FBE4FF;
}

.header {
    width: 100%;        
} 

.nav {   
    background-color: #243B93;    
}

.nav__content {
    max-width: 1321px;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.menu > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__menu {
    min-width: 170px;
    list-style: none;
    text-align: center;    
}

.list__menu > a {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 20.7px;
    text-transform: uppercase;    
}

.lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang > img {
    padding-right: 9.44px;
}

.lg {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.23px;
    text-transform: uppercase;
}

.title__header {    
    min-height: 85px;
    background-color: #BFF0FF;
}

h2 {
    max-width: 1321px;
    margin: auto;
    color: #202846;
    font-size: 44px;
    line-height: 56.94px;
    font-weight: 400;
    font-style: italic;
    padding: 16px 0 11px;
}

.container {
    max-width: 1321px;
    margin: auto;
}

.block_1 {
    width: 100%;
    min-height: 57px;
    background-color: #FFFFFF;
    position: relative;
    margin: 37px 0 30px;   
}

.block_1 > p {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 36.23px;
    color: rgba(0, 0, 0, 0.61);
    padding-top: 10px;
}

.list__block_1 {
    position: absolute;
    right: 12px;
    top: 20px;
}

.block_2 {
    max-width: 1321px;
    min-height: 300px;
    display: flex;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    position: relative;
    margin-bottom: 42px;
    transition: 0.3s;
}

.image__block_2 {
    max-width: 447px;
    max-height: 246px;
    margin: 33px 30px 21px 52px;
}

.content_block_2 {
    max-width: 739px;
}

h3 {
    color: #353C57;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    line-height: 46.58px;
    border-bottom: 3px solid #FFFFFF;
    margin: 14px 0 10px;    
}

.text_block_2 {
    background-color: #EDFBFF;
    min-height: 205px;
}

.text_block_2 > p {
    color: #202846;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.47px;
    padding: 10px 100px 0 16px;
}

.icon_star {
    position: absolute;
    top: 6px;
    right: 10px;
    transition: 0.3s;
}

.btn {
    position: absolute;
    bottom: 11px;
    right: -33px;
    min-width: 210px;
    min-height: 46px;
    background-color: #243B93;
    color: #FFFFFF; 
    font-size: 24px;
    font-weight: 400;
    line-height: 31.06px;
    text-align: center;
    padding: 4px 38px 11px 32px;
    border-radius: 30px;
    transition: 0.3s;
    text-decoration: none;
}

.block_2:hover {
    box-shadow: 0px 0px 60px 4px #2CBDEB;
    background: #2CBDEB;
}

.block_2:hover > .icon_star path {
    fill: #FFF500;
}

.block_2:hover > .btn {
    background-color: #EF075B;
}

.scrol_wrap {
    position: absolute;
    bottom: 15%;
    right: 10%;
    z-index: 2;
}

.scrol__up {
    width: 101px;
    height: 101px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(48, 12, 106, 0.3);
    position: fixed;    
}

.title__account {
    max-width: 1920px;
    min-height: 85px;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
}

.container__pers_accaunt {
    min-height: 498px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    margin-top: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.avatar {
    text-align: center;
}

.avatar > img {
    margin-bottom: 35px;
}

.btn__avatar {
    min-width: 250px;
    min-height: 50px;
    background-color: #243B93;
    color: #FFFFFF; 
    font-size: 24px;
    font-weight: 400;
    line-height: 31.06px;
    text-align: center;
    padding: 9px 38px 10px 38px;
    border-radius: 30px;
    text-decoration: none;
    display: block;
}

.btn__av_red {
    background-color: #EF075B;
    margin-top: 26px;
}

.personal__info > ul {
    color: #353C57;
    list-style: none;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    line-height: 46.58px;
}

.personal__info > ul > li > span {
    font-weight: 700;
    margin-right: 10px;
}

.personal__info > ul > li {
    border-bottom: 3px solid #FFFFFF;
    padding: 15px 0;
}

.personal__info > ul > li:nth-child(5) {
    border-bottom: none;
}

.button_exit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 19px 0 56px;
}

.btn__exit {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 174px;
    min-height: 31px;
    background-color: #243B93;
    color: #FFFFFF; 
    font-size: 24px;
    font-weight: 400;
    line-height: 31.06px;
    text-align: center;
    padding: 9px 38px 10px ;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
} 

.contacts {
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}

.container_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.block__footer {
    font-size: 32px;
    font-weight: 400;
    line-height: 41.41px;
    color: #000000;
}

.marg_footer_p {
    margin-top: 16px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.line_border {
    border-bottom: 3px solid #202846;
}

.size_border {
    max-width: 265px;
}

.map_footer {
    border: 3px solid #243B93;
    border-radius: 40px;
}

.map_footer > iframe {
    border-radius: 40px;
}

.copyright {
    min-height: 65px;
    background-color: #243B93;
    margin-top: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.7px;
    letter-spacing: 0.16em;
}

.copyright > p {
    padding-left: 301px;
}

