* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-orange: #FFB084;
    --color-green: #29A71E;
    --color-blue: #3675B0;
    --color-red: #E13535;
}

.wrap {
    background:  #F5F5F5;
    max-width: 755px;
    width: 100%;
    margin: 0 auto;
}

.container {  
    background: var(--color-orange);  
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 27px 45px 33px 38px;
    border-radius: 20px;
    gap: 2.4rem;
}

.grid-item_1 {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
}

.avatar {
    margin: 0 auto;
}

.avatar-content {
    line-height: 4.4rem;
    margin-top: 1.7rem;
}

.avatar-content > ul > li {
    list-style: none;
}

.avatar-content > ul > li p {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.avatar-content > ul > li span {
    font-weight: 400;
}

.avatar-content > ul > li:first-child {
    display: flex;
}

.avatar-content > ul > li:first-child p {
    margin-right: 0.9rem;
}

.box-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: var(--color-white);
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    padding: 15px 20px;
}

.grid-item_3 .box-item ul {
    padding-left: 25px;
}

.grid-item_4 .box-item ul {
    padding-left: 25px;
}

h2 {
    color: var(--color-black);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom: 1.7rem;
}

h3 {
    color: var(--color-black);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6rem;
    margin-bottom: 0.7rem;
}

.item-bottom {
    width: 100%;
}

.grid-item_2 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.grid-item_2 .box-item {
    height: 100%;
}

.grid-item_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2/3;
    grid-row: 2/4;
}

.grid-item_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 3/4;
    grid-row: 2/4;
}

.fsize {
    font-size: 1.4rem;
    line-height: 1.6rem;
} 

.color-green {
    box-shadow: 7px 7px 0px #29A71E;
}

.color-green > h3 {
    color: var(--color-green);
}

.color-blue {
    box-shadow: 7px 7px 0px #3675B0;
}

.color-blue > h3 {
    color: var(--color-blue);
}

.color-red {
    box-shadow: 7px 7px 0px #E13535; 
}

.color-red > h3 {
    color: var(--color-red);
}

@media screen and (max-width: 755px) {
    .container {  
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 120px 1fr;
    }

    .grid-item_1 {
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;
    }

    .title-item > h2 {
        text-align: center;
    }



    .grid-item_2 {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .grid-item_3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .grid-item_4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column: 3/4;
        grid-row: 3/4;
    }
}

