* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    max-width: 1500px;
    background-color: #F5F5F5;
    margin: 0 auto;
}

header {
    width: 100%;
    min-height: 700px;    
    background-image: url(../img/backgr_header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title_header {
    text-align: center;
    max-width: 969px;
    padding: 144px 266px 350px 265px;
}

.conteiner {
    max-width: 1276px;
    margin: auto;
}

h2 {
    text-transform: uppercase;
    color:#000000;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 32px 0;
    line-height: 48.41px;
}

.item {
    width: 100%;
    min-height: 460px;
    text-align: center;
}

.item1 {
    min-width: 400px;
    min-height: 460px;
    display: inline-block;
    background-color: #231B0C;
}

.margin_item {
    margin: 0 34px;
}

.image_item {
    margin: 184px 50px 66px;
}

.title_item {
    max-width: 173px;
    max-height: 60px;
}

.gallery_padding {
    padding: 37px 113px 87px 114px;
}

.sport_padding {
    padding: 19px 121px 105px 120px;
}

.beach_padding {
    padding: 19px 133px 105px 131px;
}

.block_centr {
    width: 100%;
    min-height: 595px;
    background-image: url(../img/img_centr.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 42px 0 40px;
}

footer {
    width: 100%;
    background-color: #150F02;
    text-align: center;
}

.block_footer {
    display: inline-block;
    text-align: center;
    margin-top: 39px;
    margin-right: 90px;
}

.menu {    
    display: inline-block;
    line-height: 27px;
    text-align: left;
}

.width_menu1 {
    max-width: 166.93px;
}

.width_menu2 {
    max-width: 66.14px;
    margin-left: 370.07px;
}

ul {
    list-style: none;
}

.contact_footer {
    padding-bottom: 61.31px;
}
    
h3 {
    max-width: 318px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 10px solid #FF6B00;
    margin: auto;
}

.socials {
    margin: 20px 670px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
