* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    max-width: 1440px;
    margin: auto;
    background-color: #F5F5F5;
}

.title {
    text-align: center;
    padding: 31px 0;
}

h1 {
    text-transform: uppercase;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.text-blue {
    color: #3E45E8;
    margin-right: 20px;
}

.text-yellow {
    color: #E8C23E;
}

.block_1 {
    width: 100%;
    background-image: url(../img/1444411287_oboyi-na-robochiy-stl-ukrayina-8\ 1.png);
    background-size: cover;    
}

.content_block_1 {
    padding: 230px 15px 230px 80px;
}

.line_vertical {
    color: #FFFFFF;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.line_vertical > img {
    float: left;
    margin-right: 22px;
}

.line_vertical > p {
    max-width: 1036px;  
    line-height: 75.5px;
    font-weight: 700; 
}

h2 {
    color: #000000;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    line-height: 62.92px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 48px 0 0 80px; 
}

.line_gorizont {
    margin-bottom: 42px;
}

.content_description {
    padding: 0 80px;
}

.item_2 > img {
    max-width: 100%;
    display: block;
}

.item {
    width: 388px;
    display: inline-block;
    border: 5px solid #0D095F;
    background-color: #FFFFFF;
    border-radius: 30px;
    vertical-align: middle;    
}

.item1 {
    filter: drop-shadow(-16px 21px 40px rgba(0, 209, 255, 0.35));
}

.item2 {
    filter: drop-shadow(0px 21px 35px rgba(0, 209, 255, 0.35));
}

.item3 {
    filter: drop-shadow(16px 21px 40px rgba(0, 209, 255, 0.35));
}

.item > p {
    max-width: 337px;
    min-height: 63px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 31.46px;
    font-weight: 400;
    font-size: 20px;
    color: #FF9900;
    margin-bottom: 70px;
}

h3 {
    margin: 16px 0 13px;
}

h3 > a {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #0072DB;
    text-decoration: none;
    padding-left: 10px;
}

.item_margin {
    margin: 0 48.8px
}

.block_3 {
    text-align: center;
    padding-top: 51px;
}

.text_centr {
    border-bottom: 7px solid #1400FF;
    max-width: 568px;
    margin: auto;
}

.block_3 > div {
    margin-top: 39px;
}

.btn {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 64px;
    text-decoration: none;
    display: block;
    width: 499px;
    background-color: #2A61F0;
    margin: auto;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

footer {
    text-align: center;
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px 0 30px;
    margin-top: 42px;
}

footer > a {
    text-decoration: none;
}

h4 {
    text-transform: uppercase;
}

h4 > a {
    text-decoration: none;
}

.social {
    display: inline-block;
}

.footer_span {
    font-size: 48px;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    color: #3E45E8;
   
}

.yellow {
    color: #DFE31E;
    margin-left: 20px;
}

.face_margin {
    margin: 0 28px;
}

.link {
    display: block;
    font-size: 36px;
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #A89D9D;
    text-transform: uppercase;
    line-height: 45.14px;
}






