* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
}

section {
    max-width: 1500px;
    width: 100%;
    height: 959px;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    margin: 0 auto;
    padding: 110px 0 182px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
}

.block_input {
    background: #ffffff url(../img/stroke.svg) no-repeat;
    width: 100%;
    max-width: 556px;
    padding: 12px 32px 37px;
}

.label > a {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    text-decoration: none;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    scrollbar-color: transparent;
}

.title {
    margin-top: 68px;
    text-align: center;
    
}

h2 {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

form {
    margin-left: 62px;
}

.form_item {
    max-width: 353px;
    width: 100%;   
}

.form_item input,
.form_item select {
    color: #CCCCCC;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    border: none;
    background: transparent;
    outline: none;
    padding: 4px 8px;
    width: 100%;
    
}

h3 {
    margin-top: 10px;
}

.form_item input:placeholder {
    color: #CCCCCC;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

.subtitle {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #A8A8A8;
}

h3 > span {
    color: #A8A8A8;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.btn {
    margin: 94px 0 12px;
    text-align: left;
    max-width: 355px;
    width: 100%;
}

button {
    max-width: 355px;
    width: 100%;
    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 4px 0 6px;
    cursor: pointer;
}

.login {
    text-align: center;
}

.login > span {
    color: #C4C4C4;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.login > a {
    color: #476D73;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.form_item label {
    width: 100%;
    display: flex;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    background: #ffffff;
}

.block_title {
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
}

.nav > ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;  
    padding: 8px 12px 0;  
}

.nav_margin {
    margin-right: 24px;
}

.menu {
    text-decoration: none;
    font-size: 16px;    
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
}

.block_title_text {
    padding: 231px 70px 265px 62px;
}

h4 {
    max-width: 307px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #FFFFFF;
}

.block_title_text > span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}



