body {
    color:#000000;
    font-weight: 400;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;    
    margin-bottom: 55px;
}

h2 {
    font-size: 32px;
}

.centr_text {
    text-align: center;
}

.left_text {
    text-align: left;
}

.right_text {
    text-align: right;
}

p {
    font-size: 16px;
}

a {
    color: blue;
}

.center-img {
    text-align: center;
}

.right-img {
    text-align: right;
}

.tabl {
    width: 95%;
    height: 256px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 6px solid #000000;
    border-collapse: collapse;
}

td {
    border: 6px solid #000000;
}



