* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color-white: #FFFFFF;
    --color-orange: #FFB742;
    --color-black: #212529;
    background: #E5E5E5;
}

.container {
    max-width: 1440px;
    background: #212529;
    margin: 0 auto;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.logo {
    cursor: pointer;
    margin-left: 50px;
    margin-top: 17px;    
}

.menu {
    width: 35%;
}

.menu_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu_list > li {
    list-style: none;    
}

.menu_list > li a {
    color: var(--color-white);
    cursor: pointer;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 27px;
}

.menu_list > li a:hover {
    color: var(--color-orange);
}

.button {
    min-width: 121px;
    min-height: 54px;    
    background: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFB742;
    border-radius: 50px;
    margin-right: 48px;
}

.btn {
    font-size: 18px;
    color: var(--color-black);
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.title_experience {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 50.75px;
    color: var(--color-white);
    text-transform: capitalize;
    text-align: center;
    margin-top: 124.88px;
}

.name > a {
    color: var(--color-orange);    
}

h2 {
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 90.85px;
    color: var(--color-white);
    text-transform: capitalize;
    text-align: center;
}

.text_experience {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 51px;
    color: var(--color-white);
    text-transform: capitalize;
    text-align: center;
}

.avatar {
    text-align: center;
    margin-bottom: 136.27px;
}

.block_experience {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 221.4px;
}

.block_info {
    min-width: 416px;
    max-height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
}

.block_text {
    max-width: 159px;
    display: block;
    padding: 25px 0;
}

.block_text > p {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: var(--color-orange);
    text-align: center;
    font-weight: 700;
}

.block_text > p span {
    font-size: 16px;
    color: var(--color-white);
    font-weight: 700;
}

.block_info:hover {
    cursor: pointer;
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.block_info:hover > .block_text > p {
    color: var(--color-black);
}

.block_info:hover > .block_text > p > span {
    color: var(--color-black);
}

.block_about {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start
}

.block_foto {
    min-width: 620px;
}

.about_info {
    max-width: 672px;
    margin: 0 51px 92px;
}

.title_about {
    max-width: 148px;    
}

h4 {
    max-width: 160px;
    color: var(--color-orange);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 25px;
    border-radius: 50px;
    background:rgba(255, 255, 255, 0.08);
}

h3 {
    max-width: 518px;
    color: var(--color-white);
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
    margin: 10.27px 0 29.49px;
}

.text_poppins {
    color: #D4D4D4;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 54.45px;
}

.button_width {
    max-width: 147.57px;
}

.skills {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.skills_text {
    max-width: 672px;
}

.block_skills_icon {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 16px;    
}

.skills_img {
    width: 80px;
    height: 80px;
    background: #383E45;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.skills_img > img {
    max-width: 48px;
    min-height: 48px;
}

.skills_img:hover {
    background: rgba(255, 183, 66, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallary_title > h3 {
    margin: 0 auto;
    text-align: center;
}

.gallary_title > h4 {
   margin: 0 auto;
}

.gallary_menu {
    margin: 35px 0 53px;
}

.gallary_menu_list {
    display: flex;
    justify-content: center;
}

.gallary_menu_list > li {
    list-style: none;
    margin-right: 64px;    
}

.gallary_menu_list > li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    line-height: 30px;
    text-transform: capitalize;
    padding: 5px 20px;
}

.gallary_menu_list > li a:hover {
    background: var(--color-orange);
    border-radius: 3px;    
}

.gallary_image {
    display: flex;
    justify-content: center;
    gap: 39px;
}

.margin_bottom {
    margin-bottom: 31px;
}

.review {
    margin-top: 135.59px  ;
}

.review > h3 {
    margin: 0 auto;
    text-align: center;
}

.review > h4 {
    min-width: 192px;
    margin: 0 auto;
}

.review_content {
    display: flex;
    justify-content: space-evenly;
    margin: 90.29px 112px 253.15px;
}

footer {
    background: #1C1C1C;
    display: flex;
    justify-content: space-around;
    padding: 148px 48px 93.22px 50px;
}

h5 {
    color: var(--color-orange);
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 30.62px;
}

.title_block_footer > p {
    max-width: 253px;
    color: #D4D4D4;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    line-height: 32.38px;
    font-size: 16px;
}

.block_footer > h6 {
    color: #F5FBF2;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    line-height: 31.89px;
    font-size: 21.59px;
    margin-bottom: 16.91px; 
}

.footer_list {
    list-style: none;
}

.footer_list > li a {
    color: #7B7B7B;
    text-decoration: none;
    font-size: 17.99px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    line-height: 36.42px;
    text-transform: capitalize;
}

.width_footer_list {
    max-width: 319px;
}



