@keyframes img-show-left_centr {
    from {
        transform: translateX(-200vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes img-show-right_centr {
    from {
        transform: translateX(200vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes img-show-left {
    from {
        transform: translateX(-100vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes img-show-right {
    from {
        transform: translateX(100vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes ellipse_1 {
    from {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 50%; 
    }
    50% {
        top: 50%;
        left: 50%;
    }
    75% {
        top: 50%;
        left: 0;
    }
    to {
        top: 0;
        left: 0;
    }
}

@keyframes ellipse_2 {
    from {
        top: 0;
        left: 50%; 
    }
    25% {
        top: 50%;
        left: 50%;
    }
    50% {
        top: 50%;
        left: 0;
    }
    75% {
        top: 0;
        left: 0;
    }
    to {
        top: 0;
        left: 50%; 
    }
}

@keyframes ellipse_3 {
    from {
        top: 50%;
        left: 50%;
    }
    25% {
        top: 50%;
        left: 0;
    }
    50% {
        top: 0;
        left: 0;
    }
    75% {
        top: 0;
        left: 50%; 
    }
    to {
        top: 50%;
        left: 50%;
    }
}
@keyframes ellipse_4 {
    from {
        top: 50%;
        left: 0;
    }
    25% {
        top: 0;
        left: 0;
    }
    50% {
        top: 0;
        left: 50%; 
    }
    75% {
        top: 50%;
        left: 50%;
    }
    to {
        top: 50%;
        left: 0;
    }
}

@keyframes img-one {
    from {
        transform: translateX(-200vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes img-two {
    from {
        transform: translateX(200vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes img-three {
    from {
        transform: translateX(-200vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes img-four {
    from {
        transform: translateX(200vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes img-fife {
    from {
        transform: translateX(-200vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes img-six{
    from {
        transform: translateX(200vh);
    }
    to {
        transform: translateX(0);
    }
}

