@import url(../CSS/animation.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

:root {
    --color-black: #000000;
    --color-white: #FFFCFC;
    font-size: 10px;
    font-family: 'Rosario', sans-serif;
}

body {
    background: #FFFFFF;
}


/*MAIN PAGE*/


.header {
    max-width: 1620px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    min-height: 10.9rem;
    position: fixed;  
    top: 0;  
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.logo {
    height: 100%;
}

.logo_link {
    display: flex;
}

.logo_link img {
    width: max-content;
}

.nav {
    margin: 0 16px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;    
}

.menu_item {
    min-height: 129px;
}

.menu_item a {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--color-white);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.36rem;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    margin-right: 1.5rem;
}

/*GALLARY*/


.empty {
    min-height: 129px;
}

.screen {
    max-width: 1620px;
    width: 100%;
    overflow: hidden;
    min-height: 816px;
    padding-top: 71px;
    margin: 0 auto;
}

.box {
    margin: 0 auto;
    display: flex;
    gap: 18px;
    padding: 0 46px;
}

.item {
    overflow: hidden;
    width: 100%;
    max-width: 370px;
    display: flex;
}

.item_vertic {
    max-width: 465px;
    flex-direction: column;
}

.item.first {
    transform: translateX(-100vh);
    animation: img-show-left 2s linear 1 forwards;
}

.item.last {
    transform: translateX(100vh);
    animation: img-show-right 2s linear 1 forwards;
}

.item.second {
    transform: translateX(-200vh);
    animation: img-show-left_centr 1s linear 1 forwards;
}

.item.third {
    transform: translateX(200vh);
    animation: img-show-right_centr 1s linear 1 forwards;
} 

.col {
    width: 25%;
    display: flex;
    align-items: center;
}

.col_4 {
    justify-content: flex-end;
}

.img_1 {
    height: 100%;
    max-height: 410px;
    margin-bottom: 42px;
}

.img_2 {
    height: 100%;
    max-height: 364px;
    
}

.left_item, .right_item {
   height: 60%;
   align-self: center;
   border-radius: 40px;   
}

.left_item {
    background: url(../img/gallary_left.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(-100vh);
    animation: img-show-left 2s linear 1 forwards;
}

.right_item {
    background: url(../img/gallary_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(100vh);
    animation: img-show-right 2s linear 1 forwards;
}

.left_center_item, .right_center_item { 
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.left_center_item {
    transform: translateX(-200vh);
    animation: img-show-left_centr 1s linear 1 forwards;
}

.right_center_item {
    transform: translateX(200vh);
    animation: img-show-right_centr 1s linear 1 forwards;
}


.left_center_item > div, .right_center_item > div {
    border-radius: 30px;
}

.left_center_item > div:first-child {
    height: 40%;
    background: url(../img/gallary_centr_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 4.2rem;
}

.left_center_item > div:last-child {
    height: 40%; 
    background: url(../img/gallary_centr_2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.right_center_item > div:first-child {
    height: 40%;
    background: url(../img/gallary_centr_3.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 4.2rem;
}

.right_center_item > div:last-child {
    height: 40%; 
    background: url(../img/gallary_centr_4.png);
    background-size: contain;
    background-repeat: no-repeat;
}



/*SERVICES*/


.empty_serv {
    min-height: 129px;
}

.services {
    min-height: 120vh;
    overflow: hidden;
    display: flex;
    padding-left: 72px;
    padding-top: 129px;
}

.services .block_left {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 111px;
    position: relative;
    margin-top: 26px;
}

.circle {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;

}
.item_circle {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 52px;
    position: absolute;
}
.item_circle1 {
    top: 0;
    left: 0;
    animation: ellipse_1 8s linear infinite;
}
.item_circle2 {
    top: 0;
    left: 50%;
    animation: ellipse_2 8s linear infinite;
}
.item_circle3 {
    top: 50%;
    left: 50%;
    animation: ellipse_3 8s linear infinite;
}
.item_circle4 {
    top: 50%;
    left: 0;
    animation: ellipse_4 8s linear infinite;
}

.last_circle {
    margin-bottom: 0;
}
.title_circle {
    text-transform: capitalize;
    font-size: 3.8rem;
    font-weight: 700;
    font-style: italic;
    line-height: 5.82rem;
    color: var(--color-black);
}

.image_one {
    background-image: url(../img/Ellipse_1.png);
}

.image_two {
    background-image: url(../img/Ellipse_2.png);
}

.image_three {
    background-image: url(../img/Ellipse_4.png);
}

.image_four {
    background-image: url(../img/Ellipse_3.png);
}

.ellipce {
    width: 50%;
    height: 50%;
}

.title_ellipce {
    text-align: center;
}

.title_ellipce {
    text-transform: capitalize;
    font-size: 3.8rem;
    font-weight: 700;
    font-style: italic;
    line-height: 5.82rem;
    color: var(--color-black);
}

.left_one {
    top: 0;
    left: 0;
    animation: ellipse_1 8s linear infinite;
}

.left_two {
    top: 0;
    left: 50%;
    animation: ellipse_2 8s linear infinite;
}

.left_three {
    top: 50%;
    left: 50%;
    animation: ellipse_3 8s linear infinite;
}

.left_four {
    top: 50%;
    left: 0;
    animation: ellipse_4 8s linear infinite;    
}

.block_right {
    width: 40%;    
}

.backgraund {
    width: 100%;
    height: 100%;
    background: url(../img/background_services.png);
    background-size: cover;
    background-position: 50% 50%;
}



/*TEAM*/


.empty_team {
    min-height: 129px;
}

.conteiner_team {
    padding-top: 129px;
}

.title_team {
    width: 100%;
    padding: 13px 67px 51px 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 5.6rem;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 11.64rem;
    color: var(--color-black);
}

.box_team {
    display: flex;
    justify-content: space-between;
    padding: 0 66px;
}

.team_items {
    display: flex;
    width: 100%;
    gap: 56px;
}

.team_items:hover > .team_item {
    cursor: pointer;
    transition: .3s;
    filter: brightness(.5);
}

.team_items > .team_item:hover {
    transition: .3s;
    filter: none;
} 

.team_item,
.team_image {
    border-radius: 40px;
    overflow: hidden;
}

.team_image {
    position: relative;
}

.team_title {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    bottom: 0;
    width: 100%;
    height: 154px;
    opacity: 0;
    overflow: hidden;
    color: #FFFAFA;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6.19rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.team_item:hover > .team_image > .team_title {
    opacity: 1;
} 

.name_meredith {
    background-image: url(../img/meredith.png);
}

.name_jason {
    background-image: url(../img/Jason.png);
}

.name_ryan {
    background-image: url(../img/Ryan.png);
}

.name_james {
    background-image: url(../img/James.png);
}

.box_team:hover > div {
    cursor: pointer;
    filter: brightness(.5);
}

.box_team > div:hover {
    filter: none;
} 

.name_team {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    color: #FFFAFA;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6.19rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.box_team > div:hover .name_team {
    height: 155px;
}



/*CONTACTS*/


.contacts {
    padding: 200px 20px 30px 20px;
}
.cols {
    display: flex;
    width: 100%;
    gap: 34px;
}

.col_input {
    margin-left: 162px;
}

.map {
    max-width: 623px;
    height: 570px;
}

form {
    background: #E5E5E5;
    padding: 35px 28px 31px;
    width: 100%;
    max-width: 936px;
}

.input {
    position: relative;
    background: #ffffff;
    padding-left: 20px;
}

.input input,
.input textarea {
    padding: 10px 0;
    display: flex;
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    color: rgba(0, 0, 0, 0.5);
    resize: none;
}

.input {
    width: 100%;
    max-width: 380px;
    display: flex;
    align-items: center;
}

.input:last-child {
    max-width: 100%;
}

.top {
    display: flex;
    width: 100%;
    gap: 50px;
    margin-bottom: 45px;
}

.input input:placeholder,
.input textarea:placeholder {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    color: rgba(0, 0, 0, 0.5);
}

.input textarea {
    max-width: 100%;
}

.contact_col {
    width: 50%;
}

.contact_col h2 {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.8rem;
    margin-bottom: 17px;
    text-align: center;
}

.contact_bottom {
    padding-top: 95px;
}

.contacts_items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.contact_item  {
    width: 30%;
}

.contact_item.soc_item {
    align-items: center;
    display: flex;
    flex-direction: column;  
}

.contact_item ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact_item > ul li:first-child {
    align-self: flex-start;
}

.contact_item h2 {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 3rem;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 30px;
}

.contact_item h2.small {
    font-size: 3rem;
    margin-bottom: 10px;
}

.contact_item span,
.contact_item a {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.6rem;
    color: var(--color-black);
    text-decoration: none;
}

.contact_item span {
    margin-right: 10px;
}

.contact_item ul.socials {
  align-items: flex-start;
}

.soc {
    margin-right: 30px;
    display: flex;
}

.soc img{
    width: 26px;
    height: 26px;
}

.contact_item.soc_item li a {
    display: flex;
    align-items: center;
}

.italic {
    font-style: italic !important;
}



/*MEDIA*/

@media screen and (max-width: 768px) {

    .header {
        flex-direction: column;
        position: relative;
    }

    .nav {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu_item {
        min-height: 50px;
    }

    .menu_item a {
        font-size: 2.6rem;
    }

    .empty {
        display: none;
    }
    
    .box{
        flex-direction: column;
    }

    .col {
        width: 100%;
        justify-content: center;
    }

    .img-one {
        transform: translateX(-200vh);
        animation: img-one 2s linear 1 forwards;
    }
    
    .img-two {
        transform: translateX(200vh);
        animation: img-two 2s linear 1 forwards;
    }

    .img-three {
        transform: translateX(-200vh);
        animation: img-three 2s linear 1 forwards;
    }
    
    .img-four {
        transform: translateX(200vh);
        animation: img-four 2s linear 1 forwards;
    }

    .img-fife {
        transform: translateX(-200vh);
        animation: img-fife 2s linear 1 forwards;
    }
    
    .img-six {
        transform: translateX(200vh);
        animation: img-six 2s linear 1 forwards;
    }


    /*SERVICES*/

    
    .services {
        padding: 100px 20px 0;
    }

    .services .block_left {
        width: 100%;
        max-height: 120vh;
        margin: 0 auto;
    }
    
    .block_right {
        display: none;
    }


    /*TEAM*/

    .box_team {
        width: 70%;
        margin: 0 auto;
    }


    .title_team h2 {
        font-size: 3rem !important;
        line-height: normal;
        text-align: center;
    }

    .team_items {
        flex-direction: column;
    }

    .conteiner_team {
        padding-top: 0;
    }



    /*CONTACTS*/



    .cols {
        flex-direction: column-reverse;
    }

    .contact_col {
        width: 100%;
    }

    .col_map > iframe {
        width: 100%;
    }

    .col_input {
        margin: 0;
    }

    .col_input h2 {
        font-size: 3.4rem;
    }

    .input input,
    .input textarea {
        font-size: 2.6rem;
    }

    .contacts_items {
        flex-direction: column;
        gap: 4rem
    }

    .contacts_items > div {
        width: 100%;
    }

    .contact_item > ul li:first-child {
        align-self: center;
    }
}


@media screen and (min-width: 769px) and (max-width: 992px) {

    .logo_link img {
        width: max-content;
    }

    .menu_item a {
        font-size: 2rem;
        margin-right: 1rem;
    }

    .box{
        flex-direction: column;
    }

    .col {
        width: 100%;
    }


    /*GALLARY*/


    .empty {
        display: none;
    }

    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 46px;
    }

    .col {
        display: grid;
        justify-content: end;
        align-items: end;
    }

    .col_3 {
        align-items: start;
    }

    .col_4 {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-content: start;
    }

    .img_1 {
        margin-bottom: 18px;
    }


    .item.second {
        transform: translateX(-200vh);
        animation: img-show-left_centr 2s linear 1 forwards;
    }
    
    .item.third {
        transform: translateX(200vh);
        animation: img-show-right_centr 2s linear 1 forwards;
    }

    

    /*SERVICES*/

    .screen {
        padding-top: 0;
    }
    
    .services {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        padding-left: 0; 
    }


    .services .block_left {
        width: 100%;
        min-height: 110vh;
        display: flex;
        flex-wrap: wrap;
        margin-left: 60px;
    }
    
    .services .block_right {
        width: 100%;
        min-height: 110vh;
    }

    .backgraund {
        height: 160vh;
    }

   
    /*TEAM*/

    .box_team {
        width: 70%;
        margin: 0 auto;
    }
    
    .conteiner_team {
        padding-top: 0;
    }

    .title_team h2 {
        font-size: 4.6rem;
    }

    .team_items {
        flex-direction: column;
    }



    /*CONTACTS*/

    .cols {
        flex-direction: column;
    }

    .contact_col {
        width: 100%;
    }

    .col_map > iframe {
        width: 100%;
    }

    .col_input {
        margin: 0;
    }

    .col_input h2 {
        font-size: 4.4rem;
    }

    .input input,
    .input textarea {
        font-size: 2.6rem;
    }

    .contacts {
        padding: 100px 30px 30px 30px;
    }

    .contacts_items {
        flex-direction: column;
        gap: 4rem
    }

    .contacts_items > div {
        width: 100%;
    }

    .contact_item > ul li:first-child {
        align-self: center;
    }
}
